{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h3>The list of members</h3>
            <div class="jumbotron p-3">
                
            <table class="table table-hover table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Course</th>
                </tr>

                {% for accounts in members %}
                <tr>
                <td>{{accounts.id}}</td>
                <td>{{accounts.first_name}} {{accounts.last_name}}</td>
                <td>{{accounts.course}}</td>
                </tr>
                {% endfor %}
            </table>
            <p>Our project is a Simple Enrollment system that can be helpful on future development.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    