{% extends "base.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}
  <br>

  <div class="container">
    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-3">
          <h2>Manage <b>Accounts: </b><button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#accounts">Add New Account</button></h2>
          <table class="table table-hover table-dark">
            
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Birth Date</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Course</th>
              <th>Action</th>
            </tr>
            
            {% for accounts in users %}
            <tr>
              <td>{{accounts.id}}</td>
              <td>{{accounts.first_name}} {{accounts.last_name}}</td>
              <td>{{accounts.birth_date}}</td>
              <td>{{accounts.email}}</td>
              <td>{{accounts.phone}}</td>
              <td>{{accounts.course}}</td>
              
              <td>
                <a href="/update/{{accounts.id}}" class="btn btn-success btn-xs" data-toggle="modal" data-target="#accountedit{{accounts.id}}">Edit</a>
                <a href="/delete/{{accounts.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete records?')">Delete</a>
              </td>
            </tr>


             <!-- Edit accounts -->
            <div id="accountedit{{accounts.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Update Account Information</h4>
                    </div>
                    <div class="modal-body">
                      <form action="/update/{{accounts.id}}" method="POST">
                          <div class="form-group">
                            <label>First Name:</label>
                            <input type="hidden"  name="id" value="">
                            <input type="text" class="form-control" name="firstName" value="{{accounts.first_name}}">
                          </div>

                          <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" name="lastName" value="{{accounts.last_name}}">
                          </div>

                          <div class="form-group">
                            <label>Birth Date:</label>
                            <input type="text" class="form-control" name="birthDate" value="{{accounts.birth_date}}">
                          </div>

                          <div class="form-group">
                            <label>Course:</label>
                            <input type="text" class="form-control" name="course" value="{{accounts.course}}">
                          </div>
                          <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control" name="email" value="{{accounts.email}}">
                          </div>
                          <div class="form-group">
                            <label>Phone:</label>
                            <input type="text" class="form-control" name="phone" value="{{accounts.phone}}">
                          </div>
                          <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update</button>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </table>

          <!-- Add accounts -->
          <div id="accounts" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Add Account</h4>
                  </div>
                  <div class="modal-body">
                      <form action="{{url_for('auth.insert')}}" method="POST">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="text" class="form-control" name="firstName" required="1">
                        </div>

                        <div class="form-group">
                          <label>Last Name:</label>
                          <input type="text" class="form-control" name="lastName" required="1">
                        </div>

                        <div class="form-group">
                          <label>Birth Date:</label>
                          <input type="text" class="form-control" name="birthDate" required="1">
                        </div>

                        <div class="form-group">
                          <label>Course:</label>
                          <input type="text" class="form-control" name="course" required="1">
                        </div>

                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email" required="1">
                        </div>

                        <div class="form-group">
                          <label>Password:</label>
                          <input type="password" class="form-control" name="password" required="1">
                        </div>
                        
                        <div class="form-group">
                            <label>Phone:</label>
                            <input type="number" class="form-control" name="Phone" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add Account</button>
                        </div>
                      </form>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  
{% endblock %}
    