{% extends "base.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}
  <br>

  <div class="container">
    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-3">
          <h2>Manage <b>Accounts: </b><button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#accounts">Add New Account</button></h2>
          <table class="table table-hover table-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Course</th>
              <th>Action</th>
            </tr>
          
            <tr>
              <td>01</td>
              <td>test</td>
              <td>test@gmail.com</td>
              <td>123456</td>
              <td>Python</td>
              
              <td>
                <a href="" class="btn btn-success btn-xs" data-toggle="modal" data-target="#accountedit">Edit</a>
                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete records?')">Delete</a>
              </td>
            </tr>
          </table>

          <!-- Add accounts -->
          <div id="accounts" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Add Account</h4>
                  </div>
                  <div class="modal-body">
                      <form action="{{url_for('auth.insert')}}" method="POST">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="text" class="form-control" name="firstName" required="1">
                        </div>

                        <div class="form-group">
                          <label>Last Name:</label>
                          <input type="text" class="form-control" name="lastName" required="1">
                        </div>

                        <div class="form-group">
                          <label>Birth Date:</label>
                          <input type="text" class="form-control" name="birthDate" required="1">
                        </div>

                        <div class="form-group">
                          <label>Course:</label>
                          <input type="text" class="form-control" name="course" required="1">
                        </div>

                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email" required="1">
                        </div>

                        <div class="form-group">
                          <label>Password:</label>
                          <input type="password" class="form-control" name="password" required="1">
                        </div>
                        
                        <div class="form-group">
                            <label>Phone:</label>
                            <input type="number" class="form-control" name="Phone" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add Account</button>
                        </div>
                      </form>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
          </div>

          <!-- Edit accounts -->
          <div id="accountedit" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group">
                          <label>First Name:</label>
                          <input type="hidden"  name="id" value="">
                          <input type="text" class="form-control" name="firstName" id="firstName" value="">
                        </div>

                        <div class="form-group">
                          <label>Last Name:</label>
                          <input type="text" class="form-control" name="lastName" id="lastName" value="">
                        </div>

                        <div class="form-group">
                          <label>Birth Date:</label>
                          <input type="text" class="form-control" name="birthDate" id="birthDate" value="">
                        </div>

                        <div class="form-group">
                          <label>Course:</label>
                          <input type="text" class="form-control" name="course" id="course" value="">
                        </div>
                        <div class="form-group">
                          <label>Email:</label>
                          <input type="text" class="form-control" name="email" value="">
                        </div>
                        <div class="form-group">
                          <label>Phone:</label>
                          <input type="text" class="form-control" name="phone" value="">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  
{% endblock %}
    